NEXT_PUBLIC_CONTACT_PHONE_NUMBER="+380 50 XXX XXXX"
NEXT_PUBLIC_PRICING_BACHELOR_FULL_TIME_ANNUAL_PRICE=21900
NEXT_PUBLIC_PRICING_BACHELOR_PART_TIME_ANNUAL_PRICE=12000
NEXT_PUBLIC_PRICING_MASTER_FULL_TIME_ANNUAL_PRICE=26580
NEXT_PUBLIC_PRICING_MASTER_PART_TIME_ANNUAL_PRICE=13500
