.marqueeMask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black 8%,
    black 92%,
    transparent 100%
  );
  mask-image: linear-gradient(to right, transparent 0, black 8%, black 92%, transparent 100%);
}

.logosTicker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;

  --gap: 80px;
  display: flex;
  gap: var(--gap);
}

.logosTicker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 90s linear infinite;
}

.logosTicker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .logosTicker ul {
    animation: none;
  }
}
